*, html {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #7b32d5
}

header {
    position: relative;
}

.header-bg-layer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 990px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.03);
    background-image: url("../assets/george-bohunicky-118985.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.header-gradient {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 580px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.03);
    background-image: linear-gradient(to right, transparent , #7b32d5);
    z-index: 5;   
}

.menu-container {
    margin-right: 110px;
    align-self: flex-end;
}

.menu-container svg  {
    margin-top: 50px;
    transform: rotateY(180deg);
}

.menu-container path  {
    transform: scale(0.5);
}

.info-box {
    align-self: flex-end;
}

